<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_eUj2YJWVEeeGe4GjOSUrEw" specification="&#xA;interface daylight_sensor:&#xA;&#x9;operation set_sensitivity(sensitivity:real)&#xA;&#x9;operation is_nighttime() : boolean&#xA;&#xA;interface adc:&#xA;&#x9;out event start_acquire_trimpot&#xA;&#x9;in event acquisition_complete : real&#xA;&#x9;&#xA;interface eyes:&#xA;&#x9;operation enable(enable : boolean)&#xA;&#x9;operation set_intensity(intensity : real)&#xA;&#x9;&#xA;interface wdt:&#xA;&#x9;operation enable()&#xA;&#x9;operation disable()&#xA;&#x9;operation reset()&#xA;&#xA;interface rand:&#xA;&#x9;operation lurk(max_wait_sec : integer, min_wait_sec : integer)&#xA;&#x9;out event set_seed : real&#xA;&#xA;internal:&#xA;&#x9;var glow_intensity : real = 0.0" name="NightPhantomMachine">
    <regions xmi:id="_eU50oJWVEeeGe4GjOSUrEw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_eVMIgJWVEeeGe4GjOSUrEw">
        <outgoingTransitions xmi:id="_eVRoEJWVEeeGe4GjOSUrEw" target="_eVNWoJWVEeeGe4GjOSUrEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_eVNWoJWVEeeGe4GjOSUrEw" specification="entry/ wdt.enable()&#xA;exit/ wdt.disable()&#xA;oncycle/ wdt.reset()" name="running" incomingTransitions="_eVRoEJWVEeeGe4GjOSUrEw">
        <outgoingTransitions xmi:id="_lHKoQJW5EeeGe4GjOSUrEw" specification="# vampire_sleep >" target="__5IdkJZ3EeeGe4GjOSUrEw"/>
        <regions xmi:id="_YxhWsJW4EeeGe4GjOSUrEw" name="r0">
          <vertices xsi:type="sgraph:State" xmi:id="_hI21EJW4EeeGe4GjOSUrEw" specification="entry / raise adc.start_acquire_trimpot" name="reading sensitivity" incomingTransitions="_vFrDWJW6EeeGe4GjOSUrEw">
            <outgoingTransitions xmi:id="_1sgfUJW4EeeGe4GjOSUrEw" specification="adc.acquisition_complete /&#xA;    daylight_sensor.set_sensitivity(valueof(adc.acquisition_complete));&#xA;    raise rand.set_seed : valueof(adc.acquisition_complete)" target="_NGv8MJW5EeeGe4GjOSUrEw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_vFqcSpW6EeeGe4GjOSUrEw">
            <outgoingTransitions xmi:id="_vFrDWJW6EeeGe4GjOSUrEw" specification="" target="_hI21EJW4EeeGe4GjOSUrEw"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_NGv8MJW5EeeGe4GjOSUrEw" incomingTransitions="_xNbc4KDlEeeEQfXsvF6CHA _1sgfUJW4EeeGe4GjOSUrEw">
            <outgoingTransitions xmi:id="_RODv0JW5EeeGe4GjOSUrEw" specification="[!daylight_sensor.is_nighttime()]" target="_QhfkwJW5EeeGe4GjOSUrEw"/>
            <outgoingTransitions xmi:id="_83KSsJW5EeeGe4GjOSUrEw" specification="" target="_7571cJW5EeeGe4GjOSUrEw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_QhfkwJW5EeeGe4GjOSUrEw" name="vampire_sleep" incomingTransitions="_RODv0JW5EeeGe4GjOSUrEw"/>
          <vertices xsi:type="sgraph:State" xmi:id="_7571cJW5EeeGe4GjOSUrEw" specification="" name="menacing" incomingTransitions="_83KSsJW5EeeGe4GjOSUrEw">
            <outgoingTransitions xmi:id="_RyzmMJW6EeeGe4GjOSUrEw" specification="" target="_PdRqEJ_-EeeEQfXsvF6CHA"/>
            <regions xmi:id="_QiJc4KJuEee-RLr2HSLTxg">
              <vertices xsi:type="sgraph:Exit" xmi:id="_jFA7IKJuEee-RLr2HSLTxg" incomingTransitions="_m2yuMKJvEee-RLr2HSLTxg"/>
              <vertices xsi:type="sgraph:State" xmi:id="_26BWsKJuEee-RLr2HSLTxg" specification="entry/&#xA;&#x9;eyes.enable(true);&#xA;&#x9;glow_intensity = 0.0&#xA;&#xA;oncycle/&#xA;&#x9;eyes.set_intensity(glow_intensity)&#xA;&#xA;exit/ &#xA;&#x9;eyes.enable(false)&#xA;" name="doing menacing glow" incomingTransitions="_j-tGwKJvEee-RLr2HSLTxg">
                <outgoingTransitions xmi:id="_m2yuMKJvEee-RLr2HSLTxg" specification="" target="_jFA7IKJuEee-RLr2HSLTxg"/>
                <regions xmi:id="_3wnAcKJuEee-RLr2HSLTxg">
                  <vertices xsi:type="sgraph:State" xmi:id="_cULggKJuEee-RLr2HSLTxg" specification="oncycle/ &#xA;&#x9;glow_intensity += 0.0001" name="waxing glow" incomingTransitions="_aiHF8KJuEee-RLr2HSLTxg">
                    <outgoingTransitions xmi:id="_1i8ZkKJvEee-RLr2HSLTxg" specification="[glow_intensity >= 1.0]" target="_rtq9kKJvEee-RLr2HSLTxg"/>
                  </vertices>
                  <vertices xsi:type="sgraph:Entry" xmi:id="_SeemsKJuEee-RLr2HSLTxg">
                    <outgoingTransitions xmi:id="_aiHF8KJuEee-RLr2HSLTxg" specification="" target="_cULggKJuEee-RLr2HSLTxg"/>
                  </vertices>
                  <vertices xsi:type="sgraph:State" xmi:id="_rtq9kKJvEee-RLr2HSLTxg" specification="oncycle/ &#xA;&#x9;glow_intensity -= 0.0001" name="wainging glow" incomingTransitions="_1i8ZkKJvEee-RLr2HSLTxg">
                    <outgoingTransitions xmi:id="_8hDbMKJvEee-RLr2HSLTxg" specification="[glow_intensity &lt;= 0.0]" target="_5eN8UKJvEee-RLr2HSLTxg"/>
                  </vertices>
                  <vertices xsi:type="sgraph:Exit" xmi:id="_5eN8UKJvEee-RLr2HSLTxg" incomingTransitions="_8hDbMKJvEee-RLr2HSLTxg"/>
                </regions>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_ilJ54KJvEee-RLr2HSLTxg">
                <outgoingTransitions xmi:id="_j-tGwKJvEee-RLr2HSLTxg" specification="" target="_26BWsKJuEee-RLr2HSLTxg"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_PdRqEJ_-EeeEQfXsvF6CHA" specification="entry/ rand.lurk(25, 3)" name="lurking" incomingTransitions="_RyzmMJW6EeeGe4GjOSUrEw">
            <outgoingTransitions xmi:id="_xNbc4KDlEeeEQfXsvF6CHA" specification="oncycle" target="_NGv8MJW5EeeGe4GjOSUrEw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="__5IdkJZ3EeeGe4GjOSUrEw" incomingTransitions="_lHKoQJW5EeeGe4GjOSUrEw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_eU5NkJWVEeeGe4GjOSUrEw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_eUj2YJWVEeeGe4GjOSUrEw" measurementUnit="Pixel">
    <children xmi:id="_eU9fAJWVEeeGe4GjOSUrEw" type="Region" element="_eU50oJWVEeeGe4GjOSUrEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_eVKTUJWVEeeGe4GjOSUrEw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eVKTUZWVEeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eVKTUpWVEeeGe4GjOSUrEw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_eVK6YJWVEeeGe4GjOSUrEw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_eVMIgZWVEeeGe4GjOSUrEw" type="Entry" element="_eVMIgJWVEeeGe4GjOSUrEw">
          <children xmi:id="_eVMvkJWVEeeGe4GjOSUrEw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_eVMvk5WVEeeGe4GjOSUrEw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_eVMvlJWVEeeGe4GjOSUrEw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_eVMvlZWVEeeGe4GjOSUrEw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_eVMvkZWVEeeGe4GjOSUrEw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eVMvkpWVEeeGe4GjOSUrEw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_eVMIgpWVEeeGe4GjOSUrEw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_eVMIg5WVEeeGe4GjOSUrEw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eVMvlpWVEeeGe4GjOSUrEw" x="4" y="10" width="15" height="15"/>
        </children>
        <children xmi:id="_eVPL0ZWVEeeGe4GjOSUrEw" type="State" element="_eVNWoJWVEeeGe4GjOSUrEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_eVPL1ZWVEeeGe4GjOSUrEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_eVPL1pWVEeeGe4GjOSUrEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_eVPL15WVEeeGe4GjOSUrEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_eVQZ8JWVEeeGe4GjOSUrEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_eVQZ8ZWVEeeGe4GjOSUrEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eVQZ8pWVEeeGe4GjOSUrEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_eVQZ85WVEeeGe4GjOSUrEw" type="StateFigureCompartment">
            <children xmi:id="_kET_gJ_-EeeEQfXsvF6CHA" type="Region" element="_YxhWsJW4EeeGe4GjOSUrEw">
              <children xsi:type="notation:DecorationNode" xmi:id="_kET_gZ_-EeeEQfXsvF6CHA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_gp_-EeeEQfXsvF6CHA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_kET_g5_-EeeEQfXsvF6CHA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_kET_hJ_-EeeEQfXsvF6CHA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_kET_hZ_-EeeEQfXsvF6CHA" type="State" element="_hI21EJW4EeeGe4GjOSUrEw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_kET_hp_-EeeEQfXsvF6CHA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_h5_-EeeEQfXsvF6CHA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_kET_iJ_-EeeEQfXsvF6CHA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kET_iZ_-EeeEQfXsvF6CHA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_kET_ip_-EeeEQfXsvF6CHA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_i5_-EeeEQfXsvF6CHA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kET_jJ_-EeeEQfXsvF6CHA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_jZ_-EeeEQfXsvF6CHA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_kET_jp_-EeeEQfXsvF6CHA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kET_j5_-EeeEQfXsvF6CHA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_kJ_-EeeEQfXsvF6CHA" x="67" y="39" width="218"/>
                </children>
                <children xmi:id="_kET_kZ_-EeeEQfXsvF6CHA" type="Entry" element="_vFqcSpW6EeeGe4GjOSUrEw">
                  <children xmi:id="_kET_kp_-EeeEQfXsvF6CHA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_kET_k5_-EeeEQfXsvF6CHA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_lJ_-EeeEQfXsvF6CHA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_kET_lZ_-EeeEQfXsvF6CHA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_lp_-EeeEQfXsvF6CHA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_l5_-EeeEQfXsvF6CHA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_mJ_-EeeEQfXsvF6CHA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_kET_mZ_-EeeEQfXsvF6CHA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_mp_-EeeEQfXsvF6CHA" x="40" y="12"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_kET_m5_-EeeEQfXsvF6CHA" type="Choice" element="_NGv8MJW5EeeGe4GjOSUrEw" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_nJ_-EeeEQfXsvF6CHA" x="86" y="174"/>
                </children>
                <children xmi:id="_kET_nZ_-EeeEQfXsvF6CHA" type="Exit" element="_QhfkwJW5EeeGe4GjOSUrEw">
                  <children xmi:id="_kET_np_-EeeEQfXsvF6CHA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_kET_n5_-EeeEQfXsvF6CHA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_oJ_-EeeEQfXsvF6CHA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_kET_oZ_-EeeEQfXsvF6CHA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_op_-EeeEQfXsvF6CHA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_o5_-EeeEQfXsvF6CHA" x="19" y="-4"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_pJ_-EeeEQfXsvF6CHA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_pZ_-EeeEQfXsvF6CHA" x="150" y="210"/>
                </children>
                <children xmi:id="_kET_pp_-EeeEQfXsvF6CHA" type="State" element="_7571cJW5EeeGe4GjOSUrEw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_kET_p5_-EeeEQfXsvF6CHA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_qJ_-EeeEQfXsvF6CHA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_kET_qZ_-EeeEQfXsvF6CHA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kET_qp_-EeeEQfXsvF6CHA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_kET_q5_-EeeEQfXsvF6CHA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_rJ_-EeeEQfXsvF6CHA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kET_rZ_-EeeEQfXsvF6CHA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_rp_-EeeEQfXsvF6CHA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_kET_r5_-EeeEQfXsvF6CHA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kET_sJ_-EeeEQfXsvF6CHA" name="isHorizontal" booleanValue="true"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PW8OAKJuEee-RLr2HSLTxg" name="isInline"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_sZ_-EeeEQfXsvF6CHA" x="73" y="264" width="212"/>
                </children>
                <children xmi:id="_kET_sp_-EeeEQfXsvF6CHA" type="State" element="_PdRqEJ_-EeeEQfXsvF6CHA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_kET_s5_-EeeEQfXsvF6CHA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_tJ_-EeeEQfXsvF6CHA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_kET_tZ_-EeeEQfXsvF6CHA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kET_tp_-EeeEQfXsvF6CHA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_kET_t5_-EeeEQfXsvF6CHA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_uJ_-EeeEQfXsvF6CHA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kET_uZ_-EeeEQfXsvF6CHA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_up_-EeeEQfXsvF6CHA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_kET_u5_-EeeEQfXsvF6CHA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kET_vJ_-EeeEQfXsvF6CHA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_vZ_-EeeEQfXsvF6CHA" x="73" y="354" width="213"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_wJ_-EeeEQfXsvF6CHA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_kET_wZ_-EeeEQfXsvF6CHA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kET_wp_-EeeEQfXsvF6CHA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_eVPL0pWVEeeGe4GjOSUrEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_eVPL05WVEeeGe4GjOSUrEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_eVRBAJWVEeeGe4GjOSUrEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eVRBAZWVEeeGe4GjOSUrEw" x="4" y="46" width="466" height="528"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="__5JEoJZ3EeeGe4GjOSUrEw" type="FinalState" element="__5IdkJZ3EeeGe4GjOSUrEw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__5JEoZZ3EeeGe4GjOSUrEw" x="572" y="91" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eVK6YZWVEeeGe4GjOSUrEw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_eU9fAZWVEeeGe4GjOSUrEw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eVLhcJWVEeeGe4GjOSUrEw" x="351" y="10" width="640" height="630"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_eVWgk5WVEeeGe4GjOSUrEw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_eVXHoJWVEeeGe4GjOSUrEw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eVXHoZWVEeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eVXHopWVEeeGe4GjOSUrEw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_eVXHo5WVEeeGe4GjOSUrEw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eVXHpJWVEeeGe4GjOSUrEw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eVXHpZWVEeeGe4GjOSUrEw" x="10" y="10" width="333" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_eU5NkZWVEeeGe4GjOSUrEw"/>
    <edges xmi:id="_eVV5gJWVEeeGe4GjOSUrEw" type="Transition" element="_eVRoEJWVEeeGe4GjOSUrEw" source="_eVMIgZWVEeeGe4GjOSUrEw" target="_eVPL0ZWVEeeGe4GjOSUrEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_eVWgkJWVEeeGe4GjOSUrEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eVWgkZWVEeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eVWgkpWVEeeGe4GjOSUrEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eVV5gZWVEeeGe4GjOSUrEw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eVV5g5WVEeeGe4GjOSUrEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eVV5gpWVEeeGe4GjOSUrEw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rw_b8JW5EeeGe4GjOSUrEw" id="(0.07650273224043716,0.003992015968063872)"/>
    </edges>
    <edges xmi:id="_vFrDUJW6EeeGe4GjOSUrEw" type="Transition" element="_vFrDWJW6EeeGe4GjOSUrEw" source="_kET_kZ_-EeeEQfXsvF6CHA" target="_kET_hZ_-EeeEQfXsvF6CHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vFrDVZW6EeeGe4GjOSUrEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vFrDV5W6EeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vFrDVpW6EeeGe4GjOSUrEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vFrDVJW6EeeGe4GjOSUrEw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vFrDU5W6EeeGe4GjOSUrEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vFrDUpW6EeeGe4GjOSUrEw" points="[0, 7, -5, -40]$[6, 32, 1, -15]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vFrDUZW6EeeGe4GjOSUrEw" id="(0.07339449541284404,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_1shGYJW4EeeGe4GjOSUrEw" type="Transition" element="_1sgfUJW4EeeGe4GjOSUrEw" source="_kET_hZ_-EeeEQfXsvF6CHA" target="_kET_m5_-EeeEQfXsvF6CHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_1shGZJW4EeeGe4GjOSUrEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1shGZZW4EeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1shGZpW4EeeGe4GjOSUrEw" x="-26" y="-165"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1shGYZW4EeeGe4GjOSUrEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1shGY5W4EeeGe4GjOSUrEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1shGYpW4EeeGe4GjOSUrEw" points="[4, 6, -57, -80]$[4, 75, -57, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vI8ZwJW6EeeGe4GjOSUrEw" id="(0.08411214953271028,0.8867924528301887)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1siUgZW4EeeGe4GjOSUrEw" id="(0.4666666666666667,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_ROEW4JW5EeeGe4GjOSUrEw" type="Transition" element="_RODv0JW5EeeGe4GjOSUrEw" source="_kET_m5_-EeeEQfXsvF6CHA" target="_kET_nZ_-EeeEQfXsvF6CHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ROE98ZW5EeeGe4GjOSUrEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ROE98pW5EeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ROE985W5EeeGe4GjOSUrEw" x="45" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ROEW4ZW5EeeGe4GjOSUrEw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ROE98JW5EeeGe4GjOSUrEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ROEW4pW5EeeGe4GjOSUrEw" points="[1, 0, -57, -35]$[58, 0, 0, -35]$[58, 27, 0, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ROFlAJW5EeeGe4GjOSUrEw" id="(0.8666666666666667,0.5333333333333333)"/>
    </edges>
    <edges xmi:id="_lHL2YJW5EeeGe4GjOSUrEw" type="Transition" element="_lHKoQJW5EeeGe4GjOSUrEw" source="_eVPL0ZWVEeeGe4GjOSUrEw" target="__5JEoJZ3EeeGe4GjOSUrEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_lHL2ZJW5EeeGe4GjOSUrEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lHL2ZZW5EeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lHL2ZpW5EeeGe4GjOSUrEw" x="2" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lHL2YZW5EeeGe4GjOSUrEw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lHL2Y5W5EeeGe4GjOSUrEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lHL2YpW5EeeGe4GjOSUrEw" points="[402, 9, -205, -43]$[509, 9, -98, -43]$[600, 49, -7, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lHMdcJW5EeeGe4GjOSUrEw" id="(0.1284153005464481,0.0)"/>
    </edges>
    <edges xmi:id="_83NWAJW5EeeGe4GjOSUrEw" type="Transition" element="_83KSsJW5EeeGe4GjOSUrEw" source="_kET_m5_-EeeEQfXsvF6CHA" target="_kET_pp_-EeeEQfXsvF6CHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_83NWBJW5EeeGe4GjOSUrEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_83NWBZW5EeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_83NWBpW5EeeGe4GjOSUrEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_83NWAZW5EeeGe4GjOSUrEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_83NWA5W5EeeGe4GjOSUrEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_83NWApW5EeeGe4GjOSUrEw" points="[7, 0, -83, -99]$[7, 75, -83, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_83OkIJW5EeeGe4GjOSUrEw" id="(0.0,1.0)"/>
    </edges>
    <edges xmi:id="_Ry00UJW6EeeGe4GjOSUrEw" type="Transition" element="_RyzmMJW6EeeGe4GjOSUrEw" source="_kET_pp_-EeeEQfXsvF6CHA" target="_kET_sp_-EeeEQfXsvF6CHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ry00VJW6EeeGe4GjOSUrEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ry00VZW6EeeGe4GjOSUrEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ry00VpW6EeeGe4GjOSUrEw" x="-10" y="-65"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ry00UZW6EeeGe4GjOSUrEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ry00U5W6EeeGe4GjOSUrEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ry00UpW6EeeGe4GjOSUrEw" points="[-1, 10, 20, -52]$[-1, 50, 20, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ry2CcJW6EeeGe4GjOSUrEw" id="(0.10377358490566038,0.9245283018867925)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ry2CcZW6EeeGe4GjOSUrEw" id="(0.0,0.2641509433962264)"/>
    </edges>
    <edges xmi:id="_xNcD8KDlEeeEQfXsvF6CHA" type="Transition" element="_xNbc4KDlEeeEQfXsvF6CHA" source="_kET_sp_-EeeEQfXsvF6CHA" target="_kET_m5_-EeeEQfXsvF6CHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_xNcrAKDlEeeEQfXsvF6CHA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xNcrAaDlEeeEQfXsvF6CHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xNcrAqDlEeeEQfXsvF6CHA" x="-118" y="27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xNcD8aDlEeeEQfXsvF6CHA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xNcD86DlEeeEQfXsvF6CHA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xNcD8qDlEeeEQfXsvF6CHA" points="[0, 3, -14, 199]$[-60, 3, -74, 199]$[-60, -193, -74, 3]$[13, -193, -1, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xNdSEKDlEeeEQfXsvF6CHA" id="(0.004694835680751174,0.4339622641509434)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xNdSEaDlEeeEQfXsvF6CHA" id="(0.06666666666666667,0.26666666666666666)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_PW-qQKJuEee-RLr2HSLTxg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_7571cJW5EeeGe4GjOSUrEw" measurementUnit="Pixel">
    <children xmi:id="_QiKD8KJuEee-RLr2HSLTxg" type="Region" element="_QiJc4KJuEee-RLr2HSLTxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_QiKrAKJuEee-RLr2HSLTxg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QiKrAaJuEee-RLr2HSLTxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QiKrAqJuEee-RLr2HSLTxg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_QiKrA6JuEee-RLr2HSLTxg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_jFA7IaJuEee-RLr2HSLTxg" type="Exit" element="_jFA7IKJuEee-RLr2HSLTxg">
          <children xmi:id="_jFBiMKJuEee-RLr2HSLTxg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_jFBiM6JuEee-RLr2HSLTxg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_jFBiNKJuEee-RLr2HSLTxg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_jFBiNaJuEee-RLr2HSLTxg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jFBiMaJuEee-RLr2HSLTxg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jFBiMqJuEee-RLr2HSLTxg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jFA7IqJuEee-RLr2HSLTxg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jFA7I6JuEee-RLr2HSLTxg" x="88" y="470" width="15" height="15"/>
        </children>
        <children xmi:id="_26B9wKJuEee-RLr2HSLTxg" type="State" element="_26BWsKJuEee-RLr2HSLTxg">
          <children xsi:type="notation:DecorationNode" xmi:id="_26B9xKJuEee-RLr2HSLTxg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_26B9xaJuEee-RLr2HSLTxg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_26B9xqJuEee-RLr2HSLTxg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_26B9x6JuEee-RLr2HSLTxg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_26Ck0KJuEee-RLr2HSLTxg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_26Ck0aJuEee-RLr2HSLTxg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_26Ck0qJuEee-RLr2HSLTxg" type="StateFigureCompartment">
            <children xmi:id="_3wnngKJuEee-RLr2HSLTxg" type="Region" element="_3wnAcKJuEee-RLr2HSLTxg">
              <children xsi:type="notation:DecorationNode" xmi:id="_3wnng6JuEee-RLr2HSLTxg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_3wnnhKJuEee-RLr2HSLTxg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_3wnnhaJuEee-RLr2HSLTxg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_3wnnhqJuEee-RLr2HSLTxg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_cUMHkKJuEee-RLr2HSLTxg" type="State" element="_cULggKJuEee-RLr2HSLTxg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_cUMHlKJuEee-RLr2HSLTxg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_cUMHlaJuEee-RLr2HSLTxg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_cUMHlqJuEee-RLr2HSLTxg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_cUMHl6JuEee-RLr2HSLTxg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_cUMHmKJuEee-RLr2HSLTxg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cUMHmaJuEee-RLr2HSLTxg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_cUMuoKJuEee-RLr2HSLTxg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_cUMHkaJuEee-RLr2HSLTxg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_cUMHkqJuEee-RLr2HSLTxg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cUMuoaJuEee-RLr2HSLTxg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cUMHk6JuEee-RLr2HSLTxg" x="25" y="22" width="211"/>
                </children>
                <children xmi:id="_SefNwKJuEee-RLr2HSLTxg" type="Entry" element="_SeemsKJuEee-RLr2HSLTxg">
                  <children xmi:id="_Sef00KJuEee-RLr2HSLTxg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Sef006JuEee-RLr2HSLTxg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Sef01KJuEee-RLr2HSLTxg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Sef01aJuEee-RLr2HSLTxg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Sef00aJuEee-RLr2HSLTxg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Sef00qJuEee-RLr2HSLTxg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_SefNwaJuEee-RLr2HSLTxg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_SefNwqJuEee-RLr2HSLTxg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SefNw6JuEee-RLr2HSLTxg" x="-2" y="8"/>
                </children>
                <children xmi:id="_rtrkoqJvEee-RLr2HSLTxg" type="State" element="_rtq9kKJvEee-RLr2HSLTxg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_rtrkpqJvEee-RLr2HSLTxg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_rtrkp6JvEee-RLr2HSLTxg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_rtrkqKJvEee-RLr2HSLTxg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rtsLsKJvEee-RLr2HSLTxg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_rtsLsaJvEee-RLr2HSLTxg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rtsLsqJvEee-RLr2HSLTxg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rtsLs6JvEee-RLr2HSLTxg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_rtrko6JvEee-RLr2HSLTxg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_rtrkpKJvEee-RLr2HSLTxg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rtsLtKJvEee-RLr2HSLTxg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rtrkpaJvEee-RLr2HSLTxg" x="25" y="115" width="211"/>
                </children>
                <children xmi:id="_5eN8UaJvEee-RLr2HSLTxg" type="Exit" element="_5eN8UKJvEee-RLr2HSLTxg">
                  <children xmi:id="_5eN8VKJvEee-RLr2HSLTxg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_5eOjYKJvEee-RLr2HSLTxg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_5eOjYaJvEee-RLr2HSLTxg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_5eOjYqJvEee-RLr2HSLTxg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_5eN8VaJvEee-RLr2HSLTxg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5eN8VqJvEee-RLr2HSLTxg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_5eN8UqJvEee-RLr2HSLTxg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5eN8U6JvEee-RLr2HSLTxg" x="56" y="205"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3wnnh6JuEee-RLr2HSLTxg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_3wnngaJuEee-RLr2HSLTxg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3wnngqJuEee-RLr2HSLTxg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_26B9waJuEee-RLr2HSLTxg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_26B9wqJuEee-RLr2HSLTxg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_26Ck06JuEee-RLr2HSLTxg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_26B9w6JuEee-RLr2HSLTxg" x="28" y="38" width="280" height="402"/>
        </children>
        <children xmi:id="_ilKg8KJvEee-RLr2HSLTxg" type="Entry" element="_ilJ54KJvEee-RLr2HSLTxg">
          <children xmi:id="_ilKg9KJvEee-RLr2HSLTxg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_ilKg96JvEee-RLr2HSLTxg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ilKg-KJvEee-RLr2HSLTxg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_ilKg-aJvEee-RLr2HSLTxg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ilKg9aJvEee-RLr2HSLTxg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ilKg9qJvEee-RLr2HSLTxg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ilKg8aJvEee-RLr2HSLTxg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_ilKg8qJvEee-RLr2HSLTxg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ilKg86JvEee-RLr2HSLTxg" x="14" y="8" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QiKrBKJuEee-RLr2HSLTxg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_QiKD8aJuEee-RLr2HSLTxg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QiKD8qJuEee-RLr2HSLTxg" x="117" y="63" width="344" height="535"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_PW-qQaJuEee-RLr2HSLTxg"/>
    <edges xmi:id="_aiIUEKJuEee-RLr2HSLTxg" type="Transition" element="_aiHF8KJuEee-RLr2HSLTxg" source="_SefNwKJuEee-RLr2HSLTxg" target="_cUMHkKJuEee-RLr2HSLTxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_aiIUFKJuEee-RLr2HSLTxg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aiIUFaJuEee-RLr2HSLTxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aiIUFqJuEee-RLr2HSLTxg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aiIUEaJuEee-RLr2HSLTxg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aiIUE6JuEee-RLr2HSLTxg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aiIUEqJuEee-RLr2HSLTxg" points="[6, 3, -32, -17]$[39, 7, 1, -13]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aiJiMKJuEee-RLr2HSLTxg" id="(0.21800947867298578,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_j-tt0KJvEee-RLr2HSLTxg" type="Transition" element="_j-tGwKJvEee-RLr2HSLTxg" source="_ilKg8KJvEee-RLr2HSLTxg" target="_26B9wKJuEee-RLr2HSLTxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_j-tt1KJvEee-RLr2HSLTxg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j-tt1aJvEee-RLr2HSLTxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j-tt1qJvEee-RLr2HSLTxg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j-tt0aJvEee-RLr2HSLTxg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j-tt06JvEee-RLr2HSLTxg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j-tt0qJvEee-RLr2HSLTxg" points="[5, 5, -30, -31]$[36, 23, 1, -13]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j-uU4KJvEee-RLr2HSLTxg" id="(0.10357142857142858,0.045307443365695796)"/>
    </edges>
    <edges xmi:id="_m2zVQKJvEee-RLr2HSLTxg" type="Transition" element="_m2yuMKJvEee-RLr2HSLTxg" source="_26B9wKJuEee-RLr2HSLTxg" target="_jFA7IaJuEee-RLr2HSLTxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_m2zVRKJvEee-RLr2HSLTxg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_m2zVRaJvEee-RLr2HSLTxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_m2z8UKJvEee-RLr2HSLTxg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_m2zVQaJvEee-RLr2HSLTxg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_m2zVQ6JvEee-RLr2HSLTxg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_m2zVQqJvEee-RLr2HSLTxg" points="[1, 3, 0, -45]$[1, 40, 0, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_m20jYKJvEee-RLr2HSLTxg" id="(0.24285714285714285,0.9902912621359223)"/>
    </edges>
    <edges xmi:id="_1i9AoKJvEee-RLr2HSLTxg" type="Transition" element="_1i8ZkKJvEee-RLr2HSLTxg" source="_cUMHkKJuEee-RLr2HSLTxg" target="_rtrkoqJvEee-RLr2HSLTxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_1i9ApKJvEee-RLr2HSLTxg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1i9ApaJvEee-RLr2HSLTxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1i9nsKJvEee-RLr2HSLTxg" x="-8" y="-65"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1i9AoaJvEee-RLr2HSLTxg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1i9Ao6JvEee-RLr2HSLTxg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1i9AoqJvEee-RLr2HSLTxg" points="[-5, 48, 7, -64]$[-11, 93, 1, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1i-OwKJvEee-RLr2HSLTxg" id="(0.2132701421800948,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1i-OwaJvEee-RLr2HSLTxg" id="(0.15165876777251186,0.39622641509433965)"/>
    </edges>
    <edges xmi:id="_8hECQKJvEee-RLr2HSLTxg" type="Transition" element="_8hDbMKJvEee-RLr2HSLTxg" source="_rtrkoqJvEee-RLr2HSLTxg" target="_5eN8UaJvEee-RLr2HSLTxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8hEpUaJvEee-RLr2HSLTxg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8hEpUqJvEee-RLr2HSLTxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8hEpU6JvEee-RLr2HSLTxg" x="-9" y="-65"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8hECQaJvEee-RLr2HSLTxg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8hEpUKJvEee-RLr2HSLTxg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8hECQqJvEee-RLr2HSLTxg" points="[9, 20, -29, -54]$[33, 79, -5, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8hFQYKJvEee-RLr2HSLTxg" id="(0.16113744075829384,0.9245283018867925)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
